/*entête et menu*/

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

#main-header {
    background-color: #f7cc4b;
    min-height: 120px;
    font-family: 'Barlow', sans-serif;
}

main {
    min-width: 90%;
    display: inline-block;
    max-width: 700px;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    padding: 25px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

header h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 0 0 30px 0;
}


/* menu navigation*/

nav {
    background-color: #d96805;
    padding: 10px 10px 10px 0;
}

nav ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

nav ul>li {
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    list-style-type: none;
    padding-right: 8px;
}

nav ul>li>a {
    color: white;
    text-decoration: none;
}

nav ul>li>a:active,
nav ul>li>a:visited,
nav ul>li>a:focus {
    color: white;
}

nav ul>li>a:hover {
    color: #f7cc4b;
    text-decoration: underline;
}

ul>li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
}

ul {
    padding-inline-start: 20px;
    margin-bottom: 10px;
}


/* blocs*/

article h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 0 0 0 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 15px 0;
}

article p {
    font-size: 13px;
}

article span {
    font-weight: 700;
}

article div {
    display: inline;
    font-weight: 300;
    font-size: 13px;
}

h5 {
    font-weight: 300;
}

footer h3 {
    text-align: center;
}


/*images et contenu*/

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 300px;
}

.clearfix {
    clear: both;
}

.section {
    background-color: grey;
    display: inline-block;
    min-height: 40%;
    max-width: 700px;
    margin: 30px 0;
    padding: 30px 30px;
    float: right;
}

.right {
    display: inline-block;
    min-height: 100px;
    max-width: 100px;
    margin: 30px;
    float: left;
}

.footer {
    display: block;
    min-height: 20px;
    padding: 30px 0 20px 0;
    background-color: #4c5c28;
}