/*entête et menu*/

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

#main-header {
    background-color: #f7cc4b;
    min-height: 120px;
    font-family: 'Barlow', sans-serif;
}

main {
    min-width: 70%;
    min-height: 800px;
    display: inline-block;
    max-width: 500px;
}


/* header*/

h1 {
    font-size: 64px;
    font-weight: 900;
    padding: 25px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

header h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 0 0 30px 0;
}


/* menu navigation*/

nav {
    background-color: #d96805;
    padding: 10px 10px 10px 0;
}

nav ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

nav ul>li {
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    list-style-type: none;
    padding-right: 8px;
}

nav ul>li>a {
    color: white;
    text-decoration: none;
}

nav ul>li>a:active,
nav ul>li>a:visited,
nav ul>li>a:focus {
    color: white;
}

nav ul>li>a:hover {
    color: #f7cc4b;
    text-decoration: underline;
}

ul li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
}

ul {
    padding-inline-start: 20px;
    margin-bottom: 5px;
}


/* blocs*/

article h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 0 0 0 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 15px 0;
}

article p {
    font-size: 13px;
}

article a {
    display: block;
    text-align: right;
    color: black;
    font-size: 13px;
    font-weight: 700;
}

article a :visited {
    color: black;
}

section h3 {
    background-color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0 20px 0;
}

section h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

footer h3 {
    text-align: center;
}


/*images et contenu*/

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    padding: 50px 0 50px 0;
    max-width: 1200px;
}

.clearfix {
    clear: both;
}

.section {
    background-color: grey;
    display: inline-block;
    min-height: 40%;
    clear: both;
    padding: 20px 20px;
    float: left;
}

.aside {
    float: right;
    background-color: thistle;
    display: inline-block;
    max-height: 545px;
    max-width: 28%;
    width: 40%;
}

.test0 {
    float: left;
    background-color: thistle;
    display: inline-block;
    height: 400px;
    width: 28%;
    margin: 2% 0 10% 0;
}

.test1 {
    float: right;
    background-color: thistle;
    display: inline-block;
    min-height: 80%;
    max-height: 300px;
    width: 65%;
    margin: 2% 0 0 0;
    padding: 20px 20px;
}

.test2 {
    float: right;
    background-color: thistle;
    display: inline-block;
    min-height: 300px;
    height: 400px;
    width: 95%;
    margin: 87px 0 0 0;
}

.footer {
    display: block;
    min-height: 20px;
    padding: 30px 0 20px 0;
    background-color: #4c5c28;
}